/*
### music
*/
.music-player{
    background: var(--post);
    color: var(--mainblobwithlisttext);
    box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
    border-radius: 4px;
    margin: 10px 0;
}
.music-player .artwork{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: var(--navbutton) url('../STiBaRC-logo.png') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    text-decoration: none;
    width: 80px;
    height: 80px;
}
.ar1{
    background-image: url('../STiBaRC-logo.png') !important;
}
.ar2{
    background-image: url('../social_stibarc.png') !important;
}
.light-outline{
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}
.play-button{
    position: absolute;
    left: 25%;
    top: 25%;
    right: 25%;
    bottom: 25%;
    cursor: pointer;
    display: none;
}
.play-button i:hover{
    background-color: var(--navbutton);
}
.music-player:hover .play-button{
    display: inline-block;
}
.play-button i{
    display: inline-block;
    color: var(--onlitext);
    background: var(--header);
    width:100%;
    height: 100%;
    border-radius: 50%;
}
.play-button i{
    font-size: 2.5rem;
}
.music-player .left-br{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.music-player .big-button:hover, .music-player .big-button:active{
    background-color: var(--button2);
}
.music-player .info{
    display: inline-block;
    vertical-align: middle;
    margin: 1rem .5rem;
}
.music-player .info .title{
    color: var(--mainblobwithlisttext);
    font-weight: bold;
    cursor: pointer;
}
.music-player .info .artist{
    color: var(--mainblobwithlisttext);
    font-size: 90%;
    display: block;
    margin-top: 5px;
    cursor: pointer;
}