/*
### music
*/
#new-music{
    display: block;
    margin-bottom: 1.5rem;
}
.music-player{
    background: var(--post);
    color: var(--mainblobwithlisttext);
    box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
    border-radius: 4px;
    margin: 10px 0;
    display: flex;
}
.music-player .artwork{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: var(--navbutton) url('../fav.png') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    text-decoration: none;
    width: 80px;
    height: 80px;
}
.light-outline{
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}
.play-button{
    position: absolute;
    left: 25%;
    top: 25%;
    right: 25%;
    bottom: 25%;
    cursor: pointer;
    display: none;
}
.play-button i:hover{
    background-color: var(--navbutton);
}
.song.playing .play-button{
    display: block;
}
.song.playing .play-button i{
    
}
.music-player:hover .play-button{
    display: inline-block;
}
.play-button i{
    display: inline-block;
    color: var(--onlitext);
    background: var(--header);
    width:100%;
    height: 100%;
    border-radius: 50%;
}
.play-button i{
    font-size: 2.5rem;
}
.music-player .left-br{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.music-player .big-button:hover, .music-player .big-button:active{
    background-color: var(--button2);
}
.music-player .info{
    flex: 100 1 0%;
    min-width: 0px;
    display: block;
    max-width: 100%;
    vertical-align: middle;
    margin: 1rem .75rem 1rem .75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.music-player .info .title{
    color: var(--mainblobwithlisttext);
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.music-player .line-separator{
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
}
.music-player .bottom-info{
    color: var(--mainblobwithlisttext);
    font-size: 90%;
    display: flex;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.music-player .info .artist{
    color: var(--mainblobwithlisttext);
    cursor: pointer;
    max-width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}
.music-player .info .album {
    color: var(--mainblobwithlisttext);
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
/*
### bottom player
*/
.bottom-player{
    display: block;
    position: fixed;
    bottom: 0;
    padding:.75rem .75rem;
    width: 100%;
    overflow: hidden;
    background-color: var(--header);
    color: var(--onlitext);
    box-shadow: 0px 2px 12px 0px rgba(77, 77, 77, 0.32);
}
.bottom-player .album-image{
    width:65px;
    height: 65px;
    padding: 10px;
    background: #aaa;
}